services:
  db:
    restart: always
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    volumes:
      - prod_db:/var/lib/postgresql/data
    networks:
      - caddy

  django:
    build:
      context: .
    container_name: django
    environment:
      - BACKEND_DB_USER=postgres
      - BACKEND_DB_NAME=postgres
      - BACKEND_DB_PASSWORD=postgres
      - BACKEND_DB_HOST=db
    ports:
      - 8000:8000
    depends_on:
      - db
    restart: always
    networks:
      - caddy

volumes:
  prod_db:

networks:
  caddy:
